<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>GameMac</string>
	<key>CFBundleGetInfoString</key>
	<string>Lazarus Quake II mod with Threewave/3Team CTF and ACE bot support for KMQuake II v0.21; Copyright 2000-2010 by Mr. Hyde, Mad Dog, and Knightmare</string>
	<key>CFBundleIdentifier</key>
	<string>Lazarus Quake II mod with Threewave/3Team CTF and ACE bot support</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GameMacOSX</string>
	<key>CFBundlePackageType</key>
	<string>q2pl</string>
	<key>CFBundleShortVersionString</key>
	<string>2.220</string>
	<key>CFBundleSignature</key>
	<string>Qua2</string>
	<key>CFBundleVersion</key>
	<string>2.2.2</string>
</dict>
</plist>
